{% set THISWIDGET = WIDGETS.widget('inventoryValue', {'instanceid': USERDATA.instance.instances_id}) %}


<div class="card card-primary statsWidget" data-widgetname="inventoryValue">
    <div class="card-header">
        <h3 class="card-title">Assets Total Value</h3>

        <div class="card-tools">
            {% if WIDGETS.checkUser('inventoryValue') %}
                <button type="button" class="btn bg-info btn-tool removeWidgetButton" data-card-widget="collapse" data-widgetname="inventoryValue" title="Remove from Dashboard">
                    <i class="fas fa-times"></i>
                </button>
            {% else %}
                <button type="button" class="btn bg-info btn-tool addWidgetButton" data-widgetname="inventoryValue" title="Add to Dashboard">
                    <i class="fas fa-plus"></i>
                </button>
            {% endif %}
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        &pound;{{ THISWIDGET.VALUE|number_format(2) }}
    </div>
</div>