<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Generate PDF</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js" integrity="sha512-SgWewGM3r8xXm8LNXt4ZHqKVKu/7eKrJ1aBCbMaX44xXXaCcIvCAvD2kj9qnC1lhyjAu04mcPiTzcc/CaACnUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
  <script>
    window.jsPDF = window.jspdf.jsPDF;
    var doc = new jsPDF({
      orientation: "portrait",
      unit: "pt",
      format: "a4",
      putOnlyUsedFonts: true,
      compress: false,
    });
    doc.setFontSize(22);
    doc.text("Multiple tables", 14, 20);
    doc.setFontSize(12);

    var pageContent = function (data) {
      // HEADER
      doc.setFontSize(20);
      doc.setTextColor(40);
      doc.text("Report", data.settings.margin.left + 15, 22);

      // FOOTER
      var str = "Page " + data.pageCount;
      doc.setFontSize(10);
      var pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
      doc.text(str, data.settings.margin.left, pageHeight  - 10);
    };
    

      var columns = [
          {title: "ID", dataKey: "id"},
          {title: "Name", dataKey: "name"}, 
          {title: "Country", dataKey: "country"}, 
      ];
      var rows = [
          {"id": 1, "name": "Shaw", "country": "Tanzania"},
          {"id": 2, "name": "Nelson", "country": "Kazakhstan"},
          {"id": 3, "name": "Garcia", "country": "Madagascar"},
      ];


    doc.autoTable(columns, rows, {
        styles: {fillColor: [100, 255, 255]},
        columnStyles: {
          id: {fillColor: 255}
        },
        margin: 50,
        startY: false, // false (indicates margin top value) or a number
        pageBreak: 'auto', // 'auto', 'avoid' or 'always'
        tableWidth: 'auto', // 'auto', 'wrap' or a number, 
        showHead: 'everyPage', // 'everyPage', 'firstPage', 'never',
        addPageContent: pageContent
    });
    doc.text("Hello world!", 10, 10);

    var blob = doc.output("bloburl", {"filename": "hello.pdf"});
    window.open(blob);
  </script>
</body>
</html>