<style>
    .scrolling-head {
        display: flex;
        overflow-x: auto;
    }

    @media only screen and (max-width: 768px) {
        .scrolling-head {
            display: block;
        }
        .scrolling-head > div {
            width: 100%;
            max-width: 100%;
        }
    }
</style>
<div class="p-2 scrolling-head">
    {% for status in assetsAssignmentsStatus %}
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ status['assetsAssignmentsStatus_name'] }}</h3>
                </div>
                <div class="card-body">
                    <div class="asset">
                        <button> « </button>
                        <image></image>
                        <h6>Asset Name</h6>
                        <button> » </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>