{% extends "assets/template.twig" %}
{% block htmlIncludes %}
    <!--Sortable-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="card">
    <form id="weekLabels">
        <div class="card-header">
            <h3 class="card-title">Week Labels</h3>
        </div>
        <div class="card-body p-0">
            <table class="table">
                <thead>
                    <tr>
                        <th>Week Start Date</th>
                        <th>Week Label</th>
                    </tr>
                </thead>
                <tbody>
                    {% for weekdate, weekLabel in USERDATA.instance['instances_weekStartDates']|jsonDecode %}
                        <tr class="border-bottom">
                            <td>
                                <input type="date" class="form-control" name="weekStartDate" value="{{ weekdate }}" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="weekLabel" value="{{ weekLabel }}" />
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>                    
        </div>
        <div class="card-footer">
            <p style="font-style: italic;">Add week dates to change week labelling on calendars across AdamRMS. This is normally used by schools and universities, and so in that instance they would put the week start dates as the day term starts for each term. Leave a space in the box to leave it blank.</p>
            {% if "BUSINESS:BUSINESS_SETTINGS:EDIT"|instancePermissions %}
            <button type="button" class="btn btn-default" id="populate3months">Add next 3 months</button>
            <button type="button" class="btn btn-default" id="addNewWeekValueRow">Add Row</button>
            <button type="submit" class="btn btn-default">Save</button>
            {% endif %}
        </div>
    </form>
    <script>
        $(document).ready(function() {
            {% if "BUSINESS:BUSINESS_SETTINGS:EDIT"|instancePermissions %}
            $("#weekLabels").on("submit", function(e){
                e.preventDefault();
                var lastDate;
                var formData = {};
                // Link the date and the string
                $('#weekLabels *').filter(':input[type=text],:input[type=date]').each(function(){
                    if ($(this).is(':input[type=text]')) {
                        if (lastDate != "" && $(this).val()) {
                            formData[lastDate] = $(this).val();
                        }
                    } else {
                        lastDate = $(this).val();
                    }
                });
                var formData = [{"name": "instances_weekStartDates", "value":JSON.stringify(formData) }];
                ajaxcall("instances/editInstance.php", {formData});
            });
        
            $("#addNewWeekValueRow").on("click", function(){
                $("#weekLabels > div > table").append(`<tr class="border-bottom">
                    <td>
                        <input type="date" class="form-control" name="weekStartDate" value="{{ "now"|date("Y-m-d") }}" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="weekLabel" value=" " />
                    </td>
                </tr>`);
            });
            $("#populate3months").on("click", function() {
                var date = $('#weekLabels *').filter(':input[type=date]').last().val();
                if (date) {
                    var jsDate = new Date(Date.parse(date));
                    for (let i = 1; i <= 13; i++) {
                        jsDate.setDate(jsDate.getDate() + 7);
                        $("#weekLabels > div > table").append(`<tr class="border-bottom">
                            <td>
                                <input type="date" class="form-control" name="weekStartDate" value="` + jsDate.toISOString().split('T')[0] + `" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="weekLabel" value="` + "Week " + i + `" />
                            </td>
                        </tr>`);
                    }
                }
            });
            {% endif %}
        });
    </script>
</div>
{% endblock %}