{% extends "assets/template.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-12">
        <div class="card">
            <div class="card-body" style="text-align: center;">
                <i>Coming soon!</i>
            </div>
        </div>
    </div>
</div>
{% endblock %}