{% extends "assets/template.twig" %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12" style="padding: 5px;">
        {% include 'assets/templates/joinInstance.twig' %}
    </div>
</div>
{% endblock %}