{% extends "assets/template.twig" %}

{% block content %}
    <div class="card-columns">
        {% embed 'assets/widgets/statsWidgetsJS.twig' %}
        {% endembed %}
        {% embed 'assets/widgets/inventoryValueGraph.twig' %}
        {% endembed %}
        {% embed 'assets/widgets/inventoryTotal.twig' %}
        {% endembed %}
        {% embed 'assets/widgets/storageUsage.twig' %}
        {% endembed %}
        {% embed 'assets/widgets/userCount.twig' %}
        {% endembed %}
        {% embed 'assets/widgets/maintenanceOutstanding.twig' %}
        {% endembed %}
        {% embed 'assets/widgets/myMaintenance.twig' %}
        {% endembed %}
    </div>
{% endblock %}
