{% extends "assets/template.twig" %}

{% block content %}
    <div class="error-page">
        <h2 class="headline text-warning"> 401</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Sorry you don't have permission to view this page</h3>

            <p>
                You might want to try checking you are in the right business if you have multiple businesses associated with your account.
            </p>
        </div>
    </div>
{% endblock %}
