{% extends "assets/template.twig" %}

{% block content %}
    <div class="card-columns">
        {% if USERDATA.users_thumbnail == null %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="ion ion-clipboard mr-1"></i>
                    Account Setup Checklist
                </h3>
            </div>
            <div class="card-body">
                <ul class="todo-list" data-widget="todo-list">
                    <li>
                        <div  class="icheck-primary d-inline ml-2">
                            <input type="checkbox" disabled value="" name="todo1" id="todoCheck1" {% if USERDATA.users_thumbnail %}checked{% endif %}>
                            <label for="todoCheck1"></label>
                        </div>
                        <span class="text"><a href="{{ CONFIG.ROOTURL }}/account.php">Upload a profile picture</a></span>
                        <small class="badge badge-info"><i class="far fa-clock"></i> 2 mins</small>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        {% set widgets = WIDGETS.getAllUser() %}
        {% for widget in widgets %}
            {% embed 'assets/widgets/' ~ widget ~ '.twig' %}
            {% endembed %}
        {% endfor %}
        {% embed 'assets/widgets/statsWidgetsJS.twig' %}{% endembed %}
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-12" id="noWidgetsBox" {% if widgets|length > 0  %}style="display:none;"{% endif %}>
            <div class="card">
                <div class="card-body" style="text-align: center;">
                    <i>No widgets added to dashboard</i>
                    <br/><br/><a class="btn btn-default btn-sm" href="{{ CONFIG.ROOTURL }}/instances/stats.php">Add</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
