{% extends "assets/template.twig" %}

{% block content %}

    <div class="card-columns">
        {% if USERDATA.users_thumbnail == null %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-clipboard-check mr-1"></i>
                    Account Setup Checklist
                </h3>
            </div>
            <div class="card-body">
                <ul class="todo-list" data-widget="todo-list">
                    <li>
                        <div  class="icheck-primary d-inline ml-2">
                            <input type="checkbox" disabled value="" name="todo1" id="todoCheck1" {% if USERDATA.users_thumbnail %}checked{% endif %}>
                            <label for="todoCheck1"></label>
                        </div>
                        <span class="text"><a href="{{ CONFIG.ROOTURL }}/account.php">Upload a profile picture</a></span>
                        <small class="badge badge-info"><i class="far fa-clock"></i> 2 mins</small>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        {% if APPLOGIN == null %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-mobile mr-1"></i>
                        Mobile App
                    </h3>
                </div>
                <div class="card-body">
                    <a href='https://play.google.com/store/apps/details?id=com.bstudios.adamrms&utm_source=webdashboard&utm_campaign=dashboardwidget&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
                        <img alt='Get it on Google Play' src='{{ CONFIG.ASSETCDNURL }}/img/storeIcons/google-play-badge.png' style="max-width:100%;width: 250px;" />
                    </a>
                    <a href='https://apps.apple.com/us/app/id1519443182?utm_source=webdashboard&utm_campaign=dashboardwidget' target="_blank">
                        <img alt='Download on the App Store' src='{{ CONFIG.ASSETCDNURL }}/img/storeIcons/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg' style="max-width:100%;width: 200px;" />
                    </a>
                </div>
                <div class="card-footer">
                    The App Store logo and Apple icon are trademarks of Apple Inc.<br/>
                    Google Play and the Google Play logo are trademarks of Google LLC.
                </div>
            </div>
        {% endif %}
        {% set widgets = WIDGETS.getAllDashboard() %}
        {% for widget in widgets %}
            {% embed 'assets/widgets/' ~ widget ~ '.twig' %}
            {% endembed %}
        {% endfor %}
        {% embed 'assets/widgets/statsWidgetsJS.twig' %}{% endembed %}
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-12" id="noWidgetsBox" {% if widgets|length > 0  %}style="display:none;"{% endif %}>
            <div class="card">
                <div class="card-body" style="text-align: center;">
                    <i>No widgets added to dashboard</i>
                    <br/><br/><a class="btn btn-default btn-sm" href="{{ CONFIG.ROOTURL }}/instances/stats.php">Add</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            {% embed 'assets/widgets/calendar.twig' %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
