{% extends "assets/template.twig" %}
{% block htmlIncludes %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js" integrity="sha256-FcVIknBiVRk5KLQeIBb9VQdtFRMqwffXyZ+D8q0gQro=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" integrity="sha256-xJOZHfpxLR/uhh1BwYFS5fhmOAdIRQaiOul5F/b7v3s=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha256-nbyata2PJRjImhByQzik2ot6gSHSU4Cqdz5bNYL2zcU=" crossorigin="anonymous" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-6 offset-lg-3">
        <div class="card box-solid">
            <div class="card-header">
                <h3 class="card-title">Add new Asset</h3>
            </div>
            <div class="card-body">
                <form id="addNewForm">
                <div class="form-group">
                    <label>Manufacturer</label>
                    <select class="form-control" id="manufacturer">
                        {% for manufacturer in manufacturers %}
                            <option {%  if manufacturer.manufacturers_id == 1 %} selected {% endif %} value="{{ manufacturer.manufacturers_id }}">{{ manufacturer.manufacturers_name }}</option>
                        {% endfor %}
                    </select>
                    <div style="text-align: right">
                        <p><a href="#" id="unknownManufacturerShortlink">Manufacturer unknown</a></p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Asset Type</label>
                    <select class="form-control" id="assetType" placeholder=""></select>
                    <div style="text-align: right">
                        <p><a href="#" id="addNewType">Add new type</a></p>
                    </div>
                </div>
                <div id="addNewTypeGroup" style="display: none;">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text">Name</span></div>
                        <input type="text" class="form-control" name="assetTypes_name" id="addNewType-name" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text">Description</span></div>
                        <textarea class="form-control" rows="3" name="assetTypes_description" id="addNewType-description"  placeholder=""></textarea>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                              Mass
                            </span>
                        </div>
                        <input type="number" step="0.001" min="0" name="assetTypes_mass" class="form-control" id="addNewType-mass" />
                        <div class="input-group-append">
                            <div class="input-group-text">kg</div>
                        </div>
                    </div>
                    <div class="callout callout-info">
                        <p>Definable fields are specific attributes for assets of this type - for a lighting fixture this might be the lens fitted</p>
                    </div>
                </div>
                    <div class="input-group" id="assetNotes" style="display:none;">
                    <div class="input-group-prepend"><span class="input-group-text">Asset Notes</span></div>
                    <textarea class="form-control" rows="2" name="assets_notes" placeholder=""></textarea>
                </div>
                <div class="input-group definableFieldsGroup" data-fieldcount="1">
                    <div class="input-group-prepend"><span class="input-group-text definableFieldsLabel" data-fieldcount="1"></span></div>
                    <input type="text" class="definableFieldsInput form-control" name="asset_definableFields_1" data-fieldcount="1" />
                </div>
                <div class="input-group definableFieldsGroup" data-fieldcount="2">
                    <div class="input-group-prepend"><span class="input-group-text definableFieldsLabel" data-fieldcount="2"></span></div>
                    <input type="text" class="definableFieldsInput form-control" name="asset_definableFields_2"  data-fieldcount="2" />
                </div>
                <div class="input-group definableFieldsGroup" data-fieldcount="3">
                    <div class="input-group-prepend"><span class="input-group-text definableFieldsLabel" data-fieldcount="3"></span></div>
                    <input type="text" class="definableFieldsInput form-control"  name="asset_definableFields_3" data-fieldcount="3" />
                </div>
                <div class="input-group definableFieldsGroup" data-fieldcount="4">
                    <div class="input-group-prepend"><span class="input-group-text definableFieldsLabel" data-fieldcount="4"></span></div>
                    <input type="text" class="definableFieldsInput form-control"  name="asset_definableFields_4" data-fieldcount="4" />
                </div>
                <div class="input-group definableFieldsGroup" data-fieldcount="5">
                    <div class="input-group-prepend"><span class="input-group-text definableFieldsLabel" data-fieldcount="5"></span></div>
                    <input type="text" class="definableFieldsInput form-control"  name="asset_definableFields_5" data-fieldcount="5" />
                </div>
                <div class="input-group definableFieldsGroup" data-fieldcount="6">
                    <div class="input-group-prepend"><span class="input-group-text definableFieldsLabel" data-fieldcount="6"></span></div>
                     <input type="text" class="definableFieldsInput form-control"  name="asset_definableFields_6" data-fieldcount="6" />
                </div>
                <div class="input-group definableFieldsGroup" data-fieldcount="7">
                    <div class="input-group-prepend"><span class="input-group-text definableFieldsLabel" data-fieldcount="7"></span></div>
                    <input type="text" class="definableFieldsInput form-control" name="asset_definableFields_7"  data-fieldcount="7" />
                </div>
                <div class="input-group definableFieldsGroup" data-fieldcount="8">
                    <div class="input-group-prepend"><span class="input-group-text definableFieldsLabel" data-fieldcount="8"></span></div>
                    <input type="text" class="definableFieldsInput form-control"  name="asset_definableFields_8" data-fieldcount="8" />
                </div>
                <div class="input-group definableFieldsGroup" data-fieldcount="9">
                    <div class="input-group-prepend"><span class="input-group-text definableFieldsLabel" data-fieldcount="9"></span></div>
                    <input type="text" class="definableFieldsInput form-control"  name="asset_definableFields_9" data-fieldcount="9" />
                </div>
                <div class="input-group definableFieldsGroup" data-fieldcount="10">
                    <div class="input-group-prepend"><span class="input-group-text definableFieldsLabel" data-fieldcount="10"></span></div>
                    <input type="text" class="definableFieldsInput form-control" name="asset_definableFields_10"  data-fieldcount="10" />
                </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-default float-right" id="saveButton">Save</button>
            </div>
            <div class="overlay">
                <i class="fas fa-2x fa-sync-alt"></i>
            </div>
        </div>
    </div>
</div>
    <style>
        .input-group {
            margin-bottom: 5px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".overlay").hide();
            $(".definableFieldsGroup").hide();
            $("#manufacturer").select2({
                theme: "bootstrap",
                width: '100%'
            });
            $("#assetType").select2({
                tags: false,
                multiple: false,
                theme: "bootstrap",
                minimumInputLength: 1,
                width: '100%',
                minimumResultsForSearch: 1,
                placeholder: "Select a manufacturer then search for asset types",
                ajax: {
                    url: "{{ CONFIG.ROOTURL }}/api/assets/search.php",
                    dataType: "json",
                    type: "POST",
                    data: function (params) {
                        var queryParameters = {
                            term: params.term,
                            manufacturer: $("#manufacturer").val()
                        }
                        return queryParameters;
                    },
                    processResults: function (data) {
                        if (data && data.result && data.response) {
                            return {
                                results: $.map(data.response, function (item) {
                                    return {
                                        text: item.assetTypes_name,
                                        id: item.assetTypes_id
                                    }
                                })
                            };
                        } else return {
                            results: []
                        };
                    }
                }
            });
            $('#assetType').on('change', function() {
                $(".definableFieldsGroup").hide();
                $("#addNewTypeGroup").hide();
                $("#assetNotes").show();
                ajaxcall("assets/getAssetTypeData.php", {"term": this.value}, function (data) {
                    $(data.response.assetCategories_fields).each(function (count, value) {
                        count = count+1;
                        $(".definableFieldsGroup[data-fieldcount='" + count + "']").show();
                        $(".definableFieldsLabel[data-fieldcount='" + count + "']").text(value);
                        $(".definableFieldsInput").val("");
                    })
                });
            });
            $('#unknownManufacturerShortlink').on('click', function() {
                $('#manufacturer').val('1');
                $('#manufacturer').trigger('change');
            });
            $('#addNewType').on('click', function() {
                $('#assetType').val('');
                $('#assetType').trigger('change');
                $('#addNewTypeGroup').show();
                $("#assetNotes").hide();
                $([0,1,2,3,4,5,6,7,8,9]).each(function (count, value) {
                    count = count+1;
                    $(".definableFieldsGroup[data-fieldcount='" + count + "']").show();
                    $(".definableFieldsLabel[data-fieldcount='" + count + "']").text("Definable field " + count);
                    $(".definableFieldsInput").val("");
                })
            });
            $('#saveButton').on('click', function() {
                var formData = $("#addNewForm").serializeArray();
                formData.push({"name": "manufacturers_id", "value":$('#manufacturer').val()}, {"name": "assetTypes_id", "value": $('#assetType').val()});
                ajaxcall("assets/newAssetFromType.php", {formData}, function (data) {
                    console.log(data);
                });
                if ($('#assetType').val() != null) {

                    //Existing asset type
                } else {
                    //New asset type
                }
            });
        });
    </script>

{% endblock %}
