{% extends "login/login_template.twig" %}
{% block content %}
    <div id="browser">

    </div>
    <a href="?login"><img src="{{ CONFIG.ASSETCDNURL }}/img/loginButtons/adamrms.png" alt="Login with AdamRMS" /></a>
    <a href="?signup"><img src="{{ CONFIG.ASSETCDNURL }}/img/loginButtons/adamrms-join.png" alt="Signup with AdamRMS" /></a>
    <a href="?google"><img src="{{ CONFIG.ASSETCDNURL }}/img/loginButtons/google.png" alt="Login with Google" /></a>

	<script>
        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
        var initialData;
		$( document ).ready(function() {
		    if(/chrom(e|ium)/.test(navigator.userAgent.toLowerCase()) !== true){
                $("#browser").html('<div class="alert alert-warning" role="alert"><h4 class="alert-heading">Unsupported Browser</h4>Sorry - Google Chrome is the only supported browser for AdamRMS, you may experience issues using the site in this browser. </div>');
            }
		});
	</script>
{% endblock %}
