{% extends "assets/template.twig" %}
{% block htmlIncludes %}
{% endblock %}
{% block content %}
    <div class="card ">
        <div class="card-header">
            <h3 class="card-title">
                {{ PAGE.cmsPages_name }}
            </h3>
            <div class="card-tools pull-right">
                <div class="input-group input-group-sm">
                    {% if 126|instancePermissions %}
                        <a href="{{ CONFIG.ROOTURL }}/cms/edit.php?p={{ PAGE.cmsPages_id }}" type="button" class="d-none d-sm-block btn btn-default btn-sm" title="Edit Page"><i class="fas fa-edit"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% embed 'cmsPage.twig' with {'pageData': PAGE } only %}
    {% endembed %}
{% endblock %}