{% extends "assets/template.twig" %}

{% block content %}
    <div class="row">{% include 'assets/templates/joinInstance.twig' %}</div>
    {% if 8|permissions %}
        <div class="row">{% include 'assets/templates/newInstance.twig' %}</div>
    {% endif %}
{% endblock %}
