{% extends "login/login_template.twig" %}
{% block content %}
<div>

    </div>
    {% if googleAuthAvailable %}
    <a href="?google"><img src="{{ CONFIG.ROOTURL}}/static-assets/img/loginButtons/continueWithGoogle.png" alt="Login with Google" /></a><br/>
    {% endif %}
<a href="?login"><img src="{{ CONFIG.ROOTURL}}/static-assets/img/loginButtons/continueWithAdamrms.png" alt="Login with AdamRMS" style="width: 220px;"/></a>


{% endblock %}
