{% extends "login/login_template.twig" %}
{% block content %}
<div>

    </div>
    {% if googleAuthAvailable %}
    <a href="?google" class="btn btn-default btn-lg m-2 border shadow-sm"><img src="{{ CONFIG.ROOTURL}}/static-assets/img/login/google.svg" alt="" role="presentation" style="height: 1.2em; vertical-align: text-top;" /> Login or Signup with Google</a><br/>
    {% endif %}
    <a href="?login" class="btn btn-default btn-lg m-2 border shadow-sm"><img src="{{ CONFIG.ROOTURL}}/static-assets/img/logoicon.png" alt="" role="presentation" style="height: 1.2em; vertical-align: text-top;" /> Login or Signup with {{ CONFIG.PROJECT_NAME }}</a>

{% endblock %}
