---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$base-font-size:   16px;
$base-line-height: 24px;
$text-color:       #333; 

$blue: #3b5998;
$pale-blue: lighten($blue, 50%);
$dark-blue: darken($blue, 10%);

$small-font-size: 14px;

$serif:      Georgia, "Bitstream Charter", serif;
$sans-serif: Helmet, FreeSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace:  "Ubuntu Mono", Consolas, monospace;


body {
    color: $text-color;
    font-family: $serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
}

a {
    border-bottom: 1px solid $pale-blue;
    color: $blue;
    text-decoration: none;

    &:active,
    &:focus, {
        background-color: $pale-blue;
    }
}

code, kbd {
    color: black;
    font-size: $small-font-size;
}

code {
    background: $pale-blue;
    font-family: $monospace;
    padding: 1px;
}

pre code {
    display: block;
    padding: 0 5px;
}

kbd {
    border: 1px solid $pale-blue;
    border-radius: 4px;
    font-family: $sans-serif;
    padding: 2px 4px;
}

ul, ol {
    margin: 1em 10px;
    padding-left: 20px;
}

ul li {
    list-style-type: square;
}

.site-header {
    background: $blue;
    border-bottom: 2px solid $dark-blue;

    a {
        border: 0;
        color: white;
    }
}

.site-header,
.site-footer {
    font-size: 14px;

    p {
        margin: 0 auto;
        max-width: 640px;
        padding: 12px 20px;
    }
}

.page-content {
    margin: 0 auto;
    max-width: 640px;
    padding: 0 20px;

    li {
        margin: 1em 0;
    }
}


.page-title {
    border-bottom: 2px solid $pale-blue;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 4px;   
}

.page-title, h2, h3, h4 {
    font-family: $sans-serif;
    line-height: 1.2;
}

h2 {
    border-bottom: 2px solid $pale-blue;
    font-size: 20px;
    margin-bottom: -5px;
    padding-bottom: 4px;

}

h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 16px 0;
}

.section-link {
    font-weight: normal;
    color: $pale-blue;
}

.site-footer,
.site-navigation {
    border-top: 2px solid $pale-blue;
}

.site-navigation ol {
    margin: 0 auto;
    max-width: 640px;
    padding: 16px 20px;

    li {
        margin-left: 20px;
    }
}

blockquote {
    margin: 16px 40px;

    &:before,
    &:after {
        color: $blue;
        display: block;
        font-weight: bold;
        font-size: 60px;
        height: 30px;
        line-height: 60px;
        width: 30px;
    }

    &:before {
        content: '“';
        float: left;
        text-align: right;
        margin-left: -40px;
    }

    &:after {
        content: '”';
        float: right;
        margin-right: -40px;
        margin-top: -30px - 16px;
    }
}
