<div class="card box-warning">
    <div class="card-header">
        <h3 class="card-title">Join Business</h3>
    </div>
    <div class="card-body">
        {% if instancesAvailableToJoinAsTrustedDomains %}
        <label>Business inviting you to join</label>
        <table class="table table-bordered">
            <tbody>
                {% for instance in instancesAvailableToJoinAsTrustedDomains %}
                <tr>
                    <td>
                        <button class="btn btn-default btn-sm joinInstanceButton" data-instance="{{ instance.instances_id }}">Join</button>&nbsp;
                        {{ instance.instances_name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
        {% endif %}
        <label>Business Signup Code</label>
        <div class="input-group">
            <input type="text" required class="form-control" id="joinCode" placeholder="JOIN CODE" name="instances_name">
            <span class="input-group-append">
                <button id="joinButton" class="btn btn-default pull-right">Join</button>
            </span>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#joinButton").click(function () {
            if ($("#joinCode").val().length > 0) {
                ajaxcall("instances/addUserFromCode.php", {
                    "signupCodes_name":$("#joinCode").val()
                }, function (data) {
                    location.reload();
                });
            }
        });
        $(".joinInstanceButton").click(function () {
            const instanceId = $(this).data("instance");
            if (instanceId.toString().length > 0) {
                ajaxcall("instances/addUserFromTrustedDomain.php", {
                    "instances_id":instanceId
                }, function (data) {
                    location.reload();
                });
            }
        });
    });
</script>
