<div class="card box-warning">
    <form id="createNewInstanceForm">
    <div class="card-header">
        <h3 class="card-title">Create new Business</h3>
    </div>
    <!-- /.box-header -->
    <div class="card-body">

        <div class="form-group">
            <label>Business Name</label>
            <input type="text" required class="form-control" placeholder="{{ CONFIG.PROJECT_NAME }} Hire Services Global" name="instances_name">
        </div>
        <div class="form-group">
            <label>Address</label>
            <textarea class="form-control" rows="4" placeholder="" name="instances_address"></textarea>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fab fa-internet-explorer"></i></span></div>
                <input type="url" class="form-control"  placeholder="www.adam-rms.com" name="instances_website">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-envelope"></i>
                    </span>
                </div>
                <input type="email" class="form-control" placeholder="Email" name="instances_email">
            </div>
        </div>
        <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-phone"></i></span></div>
            <input type="phone" class="form-control" placeholder="Phone" name="instances_phone">
        </div>
        </div>
        <hr/>
        <div class="form-group">
            <label>Your Role in Business</label>
            <input type="text" required class="form-control" placeholder="Manager" name="role">
        </div>


    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success pull-right">Create</button>
    </div></form>
</div>
<script>
    $(document).ready(function() {
        $('#createNewInstanceForm').on('submit', function(e){
            e.preventDefault();
            $.ajax({
                url: '{{ CONFIG.ROOTURL }}/api/instances/new.php?' + $( this ).serialize(),
                success: function (result) {
                    if (result.result) {
                        window.location.href = "{{CONFIG.ROOTURL}}?i=" + result.response.instanceid;
                    } else {
                        console.log(result);
                        bootbox.alert('Error - Could not create a new business - please try again!', function () {
                            location.reload();
                        });
                    }
                }
            });
        });
    });
</script>
