{% extends "login/login_template.twig" %}
{% block content %}
    <div id="browser">

    </div>
    <a href="?login"><img src="{{ CONFIG.ASSETCDNURL }}/img/loginButtons/adamrms.png" alt="Login with AdamRMS" /></a>
    <a href="?signup"><img src="{{ CONFIG.ASSETCDNURL }}/img/loginButtons/adamrms-join.png" alt="Signup with AdamRMS" /></a>
    <a href="?google"><img src="{{ CONFIG.ASSETCDNURL }}/img/loginButtons/google.png" alt="Login with Google" /></a>

	<script>
        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
        var initialData;
	</script>
{% endblock %}
