{% extends "login/login_template.twig" %}
{% block content %}
    <div id="status">

    </div>
    <form id="form1">
		<input class="form-control form-control-lg" id="form1Input" autocomplete="username" placeholder="Username or Email" type="text" style="margin-top: 10px; margin-bottom: 10px;" autofocus>
        <input class="form-control form-control-lg" id="form2Input" placeholder="Password" autocomplete="current-password" type="password" style="margin-top: 10px; margin-bottom: 10px;">
		<div style="width: 100%; text-align:right;">
            <button type="button" class="btn btn-default" id="passwordResetButton">Reset my password</button>
            <a href="?signup" class="btn btn-secondary">Create account</a>
            <button class="btn btn-primary" type="submit" value="Submit">Login</button>
		</div>
	</form>
	<script>
        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
        var initialData;
		$( document ).ready(function() {
		    $("#form1").fadeIn();
		});
        $("#form1").submit(function(){
            loginStep2();
            return false;
        });
        $('#passwordResetButton').click(function(){
            $.ajax({
                url: "../api/login/forgotPassword.php",
                type: "POST",
                dataType: 'json',
                data: {"formInput" : $("#form1Input").val()},
                success: function(result) {
                    if (result.result) {
                        toastr.success("Password reset link sent to your registered email address");
                    } else {
                        toastr.warning("Please contact the support team for a new password");
                    }
                }, error: function(){
                    toastr.error("Please refresh the page and check your internet connection");
                }
            });

        });
        function loginStep2() {
            if ($("#form2Input").val().length <= 0) {
                toastr.warning("Please enter something into the password box");
            } else {
                $.ajax({
                    url: "../api/login/login.php",
                    type: "POST",
                    dataType: 'json',
                    data: {"formInput" : $("#form1Input").val(),"password": $("#form2Input").val()},
                    success: function(result) {
                        if (result.result) {
                            window.location.href = result.response.redirect;
                    	} else {
                            toastr.error(result.error.message);
                        }
                    },
                    error: function(){
                        toastr.error("Please refresh the page and check your internet connection");
                    }
                });
            }
        }
	</script>
{% endblock %}
