openapi: 3.0.0
info:
  title: 'AdamRMS API'
  description: 'AdamRMS is a free, open source advanced Rental Management System for Theatre, AV & Broadcast. This is the API listing for the v1 API, which is currently in Production and active development. You can find out more about AdamRMS at [https://adam-rms.com](https://adam-rms.com).'
  termsOfService: 'https://adam-rms.com/legal'
  contact:
    name: 'AdamRMS Support'
    url: 'https://github.com/adam-rms'
    email: support@adam-rms.com
  license:
    name: 'GNU Affero General Public License v3.0'
    url: 'https://github.com/adam-rms/adam-rms/blob/main/LICENSE'
  version: v1
servers:
  -
    url: 'https://dash.adam-rms.com/api/'
    description: Production
paths:
  /projects/changedeliveryNotes.php:
    post:
      tags:
        - projects
      summary: 'Change delivery Notes'
      description: "Change the delivery Notes of a project  \nRequires Instance Permission PROJECTS:EDIT:DELIVERY_NOTES\n"
      operationId: changedeliveryNotes
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_deliveryNotes
          in: query
          description: 'delivery Notes'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/getComments.php:
    post:
      tags:
        - projects
      summary: 'Get Comments'
      description: "Get the comments of a project  \nRequires Instance Permission PROJECTS:VIEW\n"
      operationId: getComments
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/editNote.php:
    post:
      tags:
        - projects
      summary: 'Edit Note'
      description: "Edit a project note  \nRequires Instance Permission PROJECTS:PROJECT_NOTES:EDIT:NOTES\n"
      operationId: editNote
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projectsNotes_id
          in: query
          description: 'Project Note Id'
          required: 'true'
          schema:
            type: number
        -
          name: projectsNotes_text
          in: query
          description: 'Project Note Text'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeName.php:
    post:
      tags:
        - projects
      summary: 'Change Name'
      description: "Change the name of a project  \nRequires Instance Permission PROJECTS:EDIT:NAME\n"
      operationId: changeName
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_name
          in: query
          description: 'Project Name'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/newQuickComment.php:
    post:
      tags:
        - projects
      summary: 'New Quick Comment'
      description: "Create a new project quick comment  \nRequires Instance Permission PROJECTS:VIEW\n"
      operationId: newQuickComment
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: text
          in: query
          description: 'Comment Text'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeClient.php:
    post:
      tags:
        - projects
      summary: 'Change Client'
      description: "Change the client of a project  \nRequires Instance Permission PROJECTS:EDIT:CLIENT\n"
      operationId: changeClient
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: clients_id
          in: query
          description: 'Client ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeProjectDeliverDates.php:
    post:
      tags:
        - projects
      summary: 'Change Project Deliver Dates'
      description: "Change the start and end deliver dates of a project  \nRequires Instance Permission PROJECTS:EDIT:DATES\n"
      operationId: changeProjectDeliverDates
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_dates_deliver_start
          in: query
          description: 'Start Date/Time'
          required: 'true'
          schema:
            type: string
        -
          name: projects_dates_deliver_end
          in: query
          description: 'End Date/Time'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeDescription.php:
    post:
      tags:
        - projects
      summary: 'Change Description'
      description: "Change the description of a project  \nRequires Instance Permission PROJECTS:EDIT:DESCRIPTION_AND_SUB_PROJECTS\n"
      operationId: changeDescription
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_description
          in: query
          description: 'Project Description'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeSubProject.php:
    post:
      tags:
        - projects
      summary: 'Change Sub Project'
      description: "Change the parent project of a project  \nRequires Instance Permission PROJECTS:CREATE\n"
      operationId: changeSubProject
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_parent_project_id
          in: query
          description: 'Parent Project ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/deletePayment.php:
    post:
      tags:
        - projects
      summary: 'Delete Payment'
      description: "Delete a payment  \nRequires Instance Permission PROJECTS:PROJECT_PAYMENTS:DELETE\n"
      operationId: deletePayment
      parameters:
        -
          name: payments_id
          in: query
          description: 'Payment ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/delete.php:
    post:
      tags:
        - projects
      summary: Delete
      description: "Delete a project  \nRequires Instance Permission PROJECTS:DELETE\n"
      operationId: delete
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeProjectType.php:
    post:
      tags:
        - projects
      summary: 'Change Project Type'
      description: "Change the project type of a project  \nRequires Instance Permission PROJECTS:EDIT:PROJECT_TYPE\n"
      operationId: changeProjectType
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projectsTypes_id
          in: query
          description: 'Project Type id'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeProjectDates.php:
    post:
      tags:
        - projects
      summary: 'Change Project Dates'
      description: "Change the start and end dates of a project  \nRequires Instance Permission PROJECTS:EDIT:DATES\n"
      operationId: changeProjectDates
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_dates_use_start
          in: query
          description: 'Start Date/Time'
          required: 'true'
          schema:
            type: string
        -
          name: projects_dates_use_end
          in: query
          description: 'End Date/Time'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeStatus.php:
    post:
      tags:
        - projects
      summary: 'Change Status'
      description: "Change the status of a project  \nRequires Instance Permission PROJECTS:EDIT:STATUS\n"
      operationId: changeStatus
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_status
          in: query
          description: 'Project Status'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/unArchive.php:
    post:
      tags:
        - projects
      summary: Unarchive
      description: "Unarchive a project  \nRequires Instance Permission PROJECTS:ARCHIVE\n"
      operationId: unArchive
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/newNote.php:
    post:
      tags:
        - projects
      summary: 'New Note'
      description: "Create a new project note  \nRequires Instance Permission PROJECTS:PROJECT_NOTES:CREATE:NOTES\n"
      operationId: newNote
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projectsNotes_title
          in: query
          description: 'Project Note Text'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/crewRoles/apply.php:
    post:
      tags:
        - recruitment
      summary: 'Apply for Vacant Role'
      description: "Apply for a vacant role  \nRequires Instance Permission PROJECTS:PROJECT_CREW:VIEW:VIEW_AND_APPLY_FOR_CREW_ROLES\n"
      operationId: applyForVacantRole
      parameters:
        -
          name: formData
          in: query
          description: 'Form Data'
          required: 'true'
          schema:
            properties:
              projectsVacantRoles_id:
                description: undefined
                type: number
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/crewRoles/reject.php:
    post:
      tags:
        - recruitment
      summary: 'Reject Vacant Role Application'
      description: "Reject a vacant role application  \nRequires Instance Permission PROJECTS:PROJECT_CREW:VIEW:VIEW_AND_APPLY_FOR_CREW_ROLES\n"
      operationId: rejectVacantRoleApplication
      parameters:
        -
          name: projectsVacantRolesApplications_id
          in: query
          description: 'Vacant Role Application ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/crewRoles/applicationList.php:
    post:
      tags:
        - recruitment
      summary: 'Get Vacant Role Application List'
      description: "Get the list of applications for a vacant role  \nRequires Instance Permission PROJECTS:PROJECT_CREW:EDIT:CREW_RECRUITMENT\n"
      operationId: getVacantRoleApplicationList
      parameters:
        -
          name: projectsVacantRoles_id
          in: query
          description: 'Vacant Role ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/crewRoles/list.php:
    post:
      tags:
        - recruitment
      summary: 'Get Vacant Role List'
      description: "Get the list of vacant roles for a project  \nRequires Instance Permission PROJECTS:PROJECT_CREW:VIEW:VIEW_AND_APPLY_FOR_CREW_ROLES\n"
      operationId: getVacantRoleList
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'false'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'List of vacant roles', type: array }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/crewRoles/accept.php:
    post:
      tags:
        - recruitment
      summary: 'Accept Vacant Role Application'
      description: "Accept a vacant role application  \nRequires Instance Permission PROJECTS:PROJECT_CREW:VIEW:VIEW_AND_APPLY_FOR_CREW_ROLES\n"
      operationId: acceptVacantRoleApplication
      parameters:
        -
          name: projectsVacantRolesApplications_id
          in: query
          description: 'Vacant Role Application ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/crewRoles/edit.php:
    post:
      tags:
        - recruitment
      summary: 'Edit Vacant Role'
      description: "Edit a vacant role  \nRequires Instance Permission PROJECTS:PROJECT_CREW:EDIT:CREW_RECRUITMENT\n"
      operationId: editVacantRole
      parameters:
        -
          name: formData
          in: query
          description: 'Form Data'
          required: 'true'
          schema:
            properties:
              projectsVacantRoles_id:
                description: undefined
                type: number
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/sortRank.php:
    post:
      tags:
        - crew
      summary: 'Sort Crew'
      description: "Sort the crew of a project  \nRequires Instance Permission PROJECTS:PROJECT_CREW:EDIT:CREW_RANKS\n"
      operationId: sortCrew
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: order
          in: query
          description: Order
          required: 'true'
          schema:
            type: array
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/unassign.php:
    post:
      tags:
        - crew
      summary: 'Unassign Crew'
      description: "Unassign crew from a project  \nRequires Instance Permission PROJECTS:PROJECT_CREW:EDIT\n"
      operationId: unassignCrew
      parameters:
        -
          name: crewAssignments_id
          in: query
          description: 'Crew Assignment ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/assign.php:
    post:
      tags:
        - crew
      summary: 'Assign Crew'
      description: "Assign crew to a project  \nRequires Instance Permission PROJECTS:PROJECT_CREW:CREATE\n"
      operationId: assignCrew
      parameters:
        -
          name: formData
          in: query
          description: 'Form Data'
          required: 'true'
          schema:
            properties:
              projects_id:
                description: undefined
                type: number
              crewAssignments_comment:
                description: undefined
                type: string
              crewAssignments_role:
                description: undefined
                type: string
            type: object
        -
          name: users
          in: query
          description: Users
          required: 'true'
          schema:
            type: array
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/edit.php:
    post:
      tags:
        - crew
      summary: 'Edit Crew Assignment'
      description: "Edit a crew assignment  \nRequires Instance Permission PROJECTS:PROJECT_CREW:EDIT\n"
      operationId: editCrewAssignment
      parameters:
        -
          name: crewAssignments_id
          in: query
          description: 'Crew Assignment ID'
          required: 'true'
          schema:
            type: number
        -
          name: crewAssignments_role
          in: query
          description: 'Crew Assignment Role'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/crew/searchUser.php:
    post:
      tags:
        - crew
      summary: 'Search Users'
      description: "Search for users to assign to a project  \nRequires Instance Permission PROJECTS:PROJECT_CREW:CREATE\n"
      operationId: searchUsers
      parameters:
        -
          name: term
          in: query
          description: 'Search Term'
          required: 'true'
          schema:
            type: string
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'List of users', type: array }
                type: object
  /projects/data.php:
    post:
      tags:
        - projects
      summary: Data
      description: "Get the data of a project  \nRequires Instance Permission PROJECTS:VIEW\n"
      operationId: data
      parameters:
        -
          name: formData
          in: query
          description: 'Form Data'
          required: 'false'
          schema:
            type: object
        -
          name: id
          in: query
          description: 'Project ID'
          required: 'false'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeProjectManager.php:
    post:
      tags:
        - projects
      summary: 'Change Project Manager'
      description: "Change the project manager of a project  \nRequires Instance Permission PROJECTS:EDIT:LEAD\n"
      operationId: changeProjectManager
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: users_userid
          in: query
          description: 'User ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/newPayment.php:
    post:
      tags:
        - projects
      summary: 'New Payment'
      description: "Create a new project payment  \nRequires Instance Permission PROJECTS:PROJECT_PAYMENTS:CREATE\n"
      operationId: newPayment
      parameters:
        -
          name: formData
          in: query
          description: 'Form Data'
          required: 'true'
          schema:
            properties:
              projects_id:
                description: 'Project ID'
                type: number
              payments_quantity:
                description: 'Payment Quantity'
                type: number
              payments_amount:
                description: 'Payment Amount'
                type: string
              payments_type:
                description: 'Payment Type'
                type: string
              projectsPayments_notes:
                description: 'Payment Notes'
                type: string
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/assets/setDiscount.php:
    post:
      tags:
        - project_assets
      summary: 'Set Asset Assignment Discount'
      description: "Set the discount for an asset assignment  \nRequires Instance Permission PROJECTS:PROJECT_ASSETS:EDIT:DISCOUNT\n"
      operationId: setAssetAssignmentDiscount
      parameters:
        -
          name: assetsAssignments
          in: query
          description: 'Asset Assignment IDs'
          required: 'true'
          schema:
            type: array
        -
          name: assetsAssignments_discount
          in: query
          description: 'Discount amount'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/assets/setPrice.php:
    post:
      tags:
        - project_assets
      summary: 'Set Asset Assignment Price'
      description: "Set the price for an asset assignment  \nRequires Instance Permission PROJECTS:PROJECT_ASSETS:EDIT:CUSTOM_PRICE\n"
      operationId: setAssetAssignmentPrice
      parameters:
        -
          name: assetsAssignments
          in: query
          description: 'Asset Assignment IDs'
          required: 'true'
          schema:
            type: array
        -
          name: assetsAssignments_customPrice
          in: query
          description: Price
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/assets/setComment.php:
    post:
      tags:
        - project_assets
      summary: 'Set Asset Assignment Comment'
      description: "Set the comment for an asset assignment  \nRequires Instance Permission PROJECTS:PROJECT_ASSETS:EDIT:ASSIGNMNET_COMMENT\n"
      operationId: setAssetAssignmentComment
      parameters:
        -
          name: assetsAssignments
          in: query
          description: 'Asset Assignment IDs'
          required: 'true'
          schema:
            type: array
        -
          name: assetsAssignments_comment
          in: query
          description: Comment
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/assets/statusList.php:
    post:
      tags:
        - project_assets
      summary: 'Get Asset Assignment Status List'
      description: "Get the list of statuses for an asset assignment  \nRequires Instance Permission PROJECTS:VIEW\n"
      operationId: getAssetAssignmentStatusList
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /projects/assets/setStatusBarcode.php:
    post:
      tags:
        - project_assets
      summary: 'Set Asset Assignment Status using Barcode'
      description: "Set the status for an asset assignment using a barcode  \nRequires Instance Permission PROJECTS:PROJECT_ASSETS:EDIT:ASSIGNMENT_STATUS\n"
      operationId: setAssetAssignmentStatusBarcode
      parameters:
        -
          name: text
          in: query
          description: 'barcode value'
          required: 'true'
          schema:
            type: string
        -
          name: type
          in: query
          description: 'barcode type (optional - if not provided or set to UNKNOWN, searches by value only)'
          schema:
            type: string
        -
          name: locationType
          in: query
          description: 'location type'
          required: 'true'
          schema:
            type: enum
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: assetsAssignments_status
          in: query
          description: 'Status ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /projects/assets/unassign.php:
    post:
      tags:
        - project_assets
      summary: 'Unassign Asset'
      description: "Unassign an asset from a project  \nRequires Instance Permission PROJECTS:PROJECT_ASSETS:CREATE:ASSIGN_AND_UNASSIGN\n"
      operationId: unassignAsset
      parameters:
        -
          name: assetsAssignments
          in: query
          description: 'Asset Assignment IDs'
          required: 'true'
          schema:
            type: array
        -
          name: assets_id
          in: query
          description: 'Asset ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'false'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/assets/swap.php:
    post:
      tags:
        - project_assets
      summary: 'Swap Asset Assignment'
      description: "Swap an asset in a project  \nRequires Instance Permission PROJECTS:PROJECT_ASSETS:CREATE:ASSIGN_AND_UNASSIGN\n"
      operationId: swapAssetAssignment
      parameters:
        -
          name: assetsAssignments_id
          in: query
          description: 'Asset Assignment ID'
          required: 'true'
          schema:
            type: number
        -
          name: assets_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/assets/setStatus.php:
    post:
      tags:
        - project_assets
      summary: 'Set Asset Assignment Status'
      description: "Set the status for an asset assignment  \nRequires Instance Permission PROJECTS:PROJECT_ASSETS:EDIT:ASSIGNMENT_STATUS\n"
      operationId: setAssetAssignmentStatus
      parameters:
        -
          name: assetsAssignments_status
          in: query
          description: Status
          required: 'true'
          schema:
            type: number
        -
          name: assetsAssignments_id
          in: query
          description: 'Asset Assignment ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: status_is_order
          in: query
          description: 'Whether the status is an ordering rather than a status'
          required: 'false'
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /projects/assets/setStatusByTag.php:
    post:
      tags:
        - project_assets
      summary: 'Set Asset Status by Tag'
      description: "Set asset status for a project by the asset's tag"
      operationId: setStatusByTag
      parameters:
        -
          name: text
          in: query
          description: 'Value of the asset tag'
          required: 'true'
          schema:
            type: string
        -
          name: assetsAssignments_status
          in: query
          description: 'Status Id to set asset to'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleResponse'
  /projects/assets/assign.php:
    post:
      tags:
        - project_assets
      summary: 'Assign Asset to Project'
      description: "Assign an asset to a project  \nRequires Instance Permission PROJECTS:PROJECT_ASSETS:CREATE:ASSIGN_AND_UNASSIGN\n"
      operationId: assignAssetToProject
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: assetGroups_id
          in: query
          description: 'Asset Group ID'
          required: 'false'
          schema:
            type: number
        -
          name: assets_id
          in: query
          description: 'Asset ID'
          required: 'false'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/list.php:
    get:
      tags:
        - projects
      summary: List
      description: "Get a list of projects  \nRequires Instance Permission PROJECTS:VIEW\n"
      operationId: list
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeProjectFinanceDateMaths.php:
    post:
      tags:
        - projects
      summary: 'Change Project Number of Days & Weeks for Finance'
      description: "Change the number of days and weeks for a project  \nRequires Instance Permission PROJECTS:EDIT:DATES\n"
      operationId: changeProjectFinanceDateMaths
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_dates_finances_days
          in: query
          description: 'Number of days (set both this and weeks to -1 to remove custom)'
          required: 'true'
          schema:
            type: string
        -
          name: projects_dates_finances_weeks
          in: query
          description: 'Number of weeks (set both this and weeks to -1 to remove custom)'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/followParentStatus.php:
    post:
      tags:
        - projects
      summary: 'Follow Parent Status'
      description: "Change whether a project follows the status of its parent project  \nRequires Instance Permission PROJECTS:CREATE\n"
      operationId: followParentStatus
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: follow
          in: query
          description: 'Follow Parent Status'
          required: 'true'
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeInvoiceNotes.php:
    post:
      tags:
        - projects
      summary: 'Change Invoice Notes'
      description: "Change the invoice notes of a project  \nRequires Instance Permission PROJECTS:EDIT:INVOICE_NOTES\n"
      operationId: changeInvoiceNotes
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_invoiceNotes
          in: query
          description: 'Invoice Notes'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/new.php:
    post:
      tags:
        - projects
      summary: New
      description: "Create a new project  \nRequires Instance Permission PROJECTS:CREATE\n"
      operationId: new
      parameters:
        -
          name: projects_name
          in: query
          description: 'Project Name'
          required: 'true'
          schema:
            type: string
        -
          name: projects_manager
          in: query
          description: 'Project Manager User ID'
          required: 'true'
          schema:
            type: number
        -
          name: projectsType_id
          in: query
          description: 'Project Type ID'
          required: 'true'
          schema:
            type: number
        -
          name: projects_parent_project_id
          in: query
          description: 'Parent Project ID'
          required: 'false'
          schema:
            type: number
        -
          name: projects_dates_use_start
          in: query
          description: 'Project Start date/time, both this and projects_dates_use_end required to set this property'
          required: 'false'
          schema:
            type: number
        -
          name: projects_dates_use_end
          in: query
          description: 'Project End date/time, both this and projects_dates_use_start required to set this property'
          required: 'false'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/archive.php:
    post:
      tags:
        - projects
      summary: 'Archive Project'
      description: "Archive a project  \nRequires Instance Permission PROJECTS:ARCHIVE\n"
      operationId: archiveProject
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /projects/changeVenue.php:
    post:
      tags:
        - projects
      summary: 'Change Venue'
      description: "Change the venue of a project  \nRequires Instance Permission PROJECTS:EDIT:ADDRESS\n"
      operationId: changeVenue
      parameters:
        -
          name: projects_id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: locations_id
          in: query
          description: 'Location ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: 'Permission Error'
  /cms/editPageContent-rollback.php:
    post:
      tags:
        - cms
      summary: 'Rollback CMS Page Content'
      description: "Rollback a page content  \nRequires Instance Permission CMS:CMS_PAGES:EDIT"
      operationId: rollbackPageContent
      parameters:
        -
          name: cmsPages_id
          in: query
          description: 'The ID of the page'
          required: 'true'
          schema:
            type: integer
        -
          name: change
          in: query
          description: 'The description of the change'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        '404':
          description: Error
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'An Array containing an error code and a message', type: array }
                type: object
  /cms/get.php:
    post:
      tags:
        - cms
      summary: 'Get CMS Page'
      description: 'Get a page'
      operationId: getPage
      parameters:
        -
          name: p
          in: query
          description: 'The page id'
          required: 'true'
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/html:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  PUBLIC: { description: undefined, type: boolean }
                  html: { description: 'HTML code for the page content', type: html }
                type: object
        '404':
          description: Error
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'An Array containing an error code and a message', type: array }
                type: object
  /cms/editPageConfig.php:
    post:
      tags:
        - cms
      summary: 'Edit CMS Page Config'
      description: "Edit a page config  \nRequires Instance Permission CMS:CMS_PAGES:EDIT"
      operationId: editPageConfig
      parameters:
        -
          name: formData
          in: query
          description: 'The page config data'
          required: 'true'
          schema:
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        '404':
          description: Error
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'An Array containing an error code and a message', type: array }
                type: object
  /cms/list.php:
    get:
      tags:
        - cms
      summary: 'List CMS Pages'
      description: 'List all pages'
      operationId: listPages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'An Array containing all pages', type: array }
                type: object
  /cms/setCustomDashboard.php:
    post:
      tags:
        - cms
      summary: 'Set Custom Dashboard'
      description: "Set a custom dashboard  \nRequires Instance Permission CMS:CMS_PAGES:EDIT:CUSTOM_DASHBOARDS"
      operationId: setCustomDashboard
      parameters:
        -
          name: instancePositions_id
          in: query
          description: 'instance position for the dashboard'
          required: 'true'
          schema:
            type: number
        -
          name: cmsPages_id
          in: query
          description: 'The page id'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        '404':
          description: Error
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'A null array', type: array }
                type: object
  /cms/editPageRank.php:
    post:
      tags:
        - cms
      summary: 'Edit CMS Page Rank'
      description: "Edit a page rank  \nRequires Instance Permission CMS:CMS_PAGES:EDIT"
      operationId: editPageRank
      parameters:
        -
          name: order
          in: query
          description: 'The page rank data'
          required: 'true'
          schema:
            type: array
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        '404':
          description: Error
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'An Array containing an error code and a message', type: array }
                type: object
  /cms/editPageContent.php:
    post:
      tags:
        - cms
      summary: 'Edit CMS Page Content'
      description: "Edit a page content  \nRequires Instance Permission CMS:CMS_PAGES:EDIT"
      operationId: editPageContent
      parameters:
        -
          name: cmsPages_id
          in: query
          description: 'The ID of the page'
          required: 'true'
          schema:
            type: integer
        -
          name: pageData
          in: query
          description: 'The page data'
          required: 'true'
          schema:
            type: string
        -
          name: changelog
          in: query
          description: 'The description of the change'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '404':
          description: Error
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'An Array containing an error code and a message', type: array }
                type: object
  /s3files/appUploader.php:
    post:
      tags:
        - s3files
      summary: 'App Uploader'
      description: "Upload a file to S3\n"
      operationId: appUploader
      parameters:
        -
          name: filename
          in: query
          description: 'File Name'
          required: 'true'
          schema:
            type: string
        -
          name: typename
          in: query
          description: 'File Type'
          required: 'true'
          schema:
            type: string
        -
          name: typeid
          in: query
          description: 'File Type ID'
          required: 'true'
          schema:
            type: number
        -
          name: subtype
          in: query
          description: 'File Subtype'
          required: 'false'
          schema:
            type: number
        -
          name: public
          in: query
          description: 'Public File'
          required: 'true'
          schema:
            type: boolean
        -
          name: file
          in: files
          description: File
          required: 'true'
      responses:
        '200':
          description: Success
  /s3files/generateSignatureUppy.php:
    post:
      tags:
        - s3files
      summary: 'Generate Signature Uppy'
      description: "Generate a signature for uploading a file to S3\n"
      operationId: generateSignatureUppy
      parameters:
        -
          name: filename
          in: query
          description: 'File Name'
          required: 'true'
          schema:
            type: string
        -
          name: contentType
          in: query
          description: 'Content Type'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  method: { description: 'HTTP Method', type: string }
                  url: { description: 'File URL', type: string }
                type: object
  /s3files/uploadProjectInvoice.php:
    post:
      tags:
        - s3files
      summary: 'Upload Project Invoice'
      description: "Upload a project invoice  \nRequires Instance Permission PROJECTS:VIEW\n"
      operationId: uploadProjectInvoice
      parameters:
        -
          name: id
          in: query
          description: 'Project ID'
          required: 'true'
          schema:
            type: number
        -
          name: type
          in: query
          description: 'What type of file is this - invoice, quote or delivery note?'
          required: 'true'
          schema:
            type: string
        -
          name: file
          in: files
          description: File
          required: 'true'
        -
          name: fileNumber
          in: query
          description: 'File Version Number'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /s3files/uploadSuccess.php:
    post:
      tags:
        - s3files
      summary: 'Upload Success'
      description: "Upload a file to S3\n"
      operationId: uploadSuccess
      parameters:
        -
          name: name
          in: query
          description: 'File Name'
          required: 'true'
          schema:
            type: string
        -
          name: size
          in: query
          description: 'File Size'
          required: 'true'
          schema:
            type: number
        -
          name: typeid
          in: query
          description: 'File Type ID'
          required: 'true'
          schema:
            type: number
        -
          name: subtype
          in: query
          description: 'File Subtype'
          required: 'false'
          schema:
            type: number
        -
          name: orignalName
          in: query
          description: 'Original File Name'
          required: 'true'
          schema:
            type: string
        -
          name: public
          in: query
          description: 'Public File'
          required: 'true'
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /clients/unarchive.php:
    post:
      tags:
        - clients
      summary: 'UnArchive Client'
      description: "Unarchive (Restore) a client\nRequires Instance Permission CLIENTS:EDIT"
      operationId: unarchiveClient
      parameters:
        -
          name: clients_id
          in: query
          description: 'Id of the client to unarchive'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleResponse'
  /clients/new.php:
    post:
      tags:
        - clients
      summary: 'Create Client'
      description: "Create a client  \nRequires Instance Permission CLIENTS:CREATE"
      operationId: createClient
      parameters:
        -
          name: clients_name
          in: query
          description: 'The name of the client'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        '400':
          description: Error
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'An Array containing an error code and a message', type: array }
                type: object
  /clients/archive.php:
    post:
      tags:
        - clients
      summary: 'Archive Client'
      description: "Archive (Soft Delete) a client\nRequires Instance Permission CLIENTS:EDIT"
      operationId: archiveClient
      parameters:
        -
          name: clients_id
          in: query
          description: 'Id of the client to archive'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleResponse'
  /clients/edit.php:
    post:
      tags:
        - clients
      summary: 'Edit Client'
      description: "Edit a client  \nRequires Instance Permission CLIENTS:EDIT"
      operationId: editClient
      parameters:
        -
          name: formData
          in: query
          description: 'The client data'
          required: 'true'
          schema:
            properties:
              clients_id:
                description: 'The ID of the client'
                type: integer
              clients_name:
                description: 'The name of the client'
                type: string
              clients_address:
                description: 'The address of the client'
                type: string
              clients_phone:
                description: 'The phone number of the client'
                type: string
              clients_email:
                description: 'The email of the client'
                type: string
              clients_website:
                description: 'The website of the client'
                type: string
              clients_notes:
                description: 'The notes of the client'
                type: string
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'An Array containing an error code and a message', type: array }
                type: object
  /modules/steps/sortRank.php:
    post:
      tags:
        - module_steps
      summary: 'Sort Steps'
      description: "Sort the steps of a module  \nRequires Instance Permission TRAINING:EDIT\n"
      operationId: sortSteps
      parameters:
        -
          name: order
          in: query
          description: Order
          required: 'true'
          schema:
            type: array
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /modules/steps/new.php:
    post:
      tags:
        - module_steps
      summary: 'New Step'
      description: "Create a new module step  \nRequires Instance Permission TRAINING:EDIT\n"
      operationId: newStep
      parameters:
        -
          name: formData
          in: query
          description: 'Form Data'
          required: 'true'
          schema:
            properties:
              modulesSteps_name:
                description: 'Step Name'
                type: string
              modulesSteps_content:
                description: 'Step Content'
                type: string
              modules_steps_order:
                description: 'Step Order'
                type: number
              modules_id:
                description: 'Module ID'
                type: number
              modulesSteps_internalNotes:
                description: 'Internal Notes'
                type: string
              modulesSteps_show:
                description: undefined
                type: boolean
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /modules/steps/edit.php:
    post:
      tags:
        - module_steps
      summary: 'Edit Step'
      description: "Edit a module step  \nRequires Instance Permission TRAINING:EDIT\n"
      operationId: editStep
      parameters:
        -
          name: formData
          in: query
          description: 'Form Data'
          required: 'true'
          schema:
            properties:
              modulessteps_id:
                description: 'Step ID'
                type: number
              modulesSteps_name:
                description: 'Step Name'
                type: string
              modulesSteps_content:
                description: 'Step Content'
                type: string
              modules_steps_order:
                description: 'Step Order'
                type: number
              modules_id:
                description: 'Module ID'
                type: number
              modulesSteps_internalNotes:
                description: 'Internal Notes'
                type: string
              modulesSteps_show:
                description: undefined
                type: boolean
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /modules/new.php:
    post:
      tags:
        - modules
      summary: 'New Module'
      description: "Create a new module  \nRequires Instance Permission TRAINING:CREATE\n"
      operationId: newModule
      parameters:
        -
          name: formData
          in: query
          description: undefined
          required: 'true'
          schema:
            properties:
              modules_name:
                description: 'Module Name'
                type: string
              modules_description:
                description: 'Module Description'
                type: string
              modules_learningObjectives:
                description: LOs
                type: string
              modules_show:
                description: undefined
                type: boolean
              modules_thumbnail:
                description: 'Thumbnail ID'
                type: number
              modules_type:
                description: undefined
                type: number
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /modules/edit.php:
    post:
      tags:
        - modules
      summary: 'Edit Module'
      description: "Edit a module  \nRequires Instance Permission TRAINING:EDIT\n"
      operationId: editModule
      parameters:
        -
          name: formData
          in: query
          description: undefined
          required: 'true'
          schema:
            properties:
              modules_id:
                description: 'Module ID'
                type: number
              modules_name:
                description: 'Module Name'
                type: string
              modules_description:
                description: 'Module Description'
                type: string
              modules_learningObjectives:
                description: LOs
                type: string
              modules_show:
                description: undefined
                type: boolean
              modules_thumbnail:
                description: 'Thumbnail ID'
                type: number
              modules_type:
                description: undefined
                type: number
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /groups/removeAsset.php:
    post:
      tags:
        - groups
      summary: 'Remove Asset from Group'
      description: "Remove an asset from a group  \nRequires Instance Permission ASSETS:ASSET_GROUPS:EDIT:ASSETS_WITHIN_GROUP\n"
      operationId: removeAssetFromGroup
      parameters:
        -
          name: assetGroups_id
          in: query
          description: 'The group id'
          required: 'true'
          schema:
            type: integer
        -
          name: assets_id
          in: query
          description: 'The asset id'
          required: 'true'
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'A null array', type: array }
                type: object
  /groups/addAsset.php:
    post:
      tags:
        - groups
      summary: 'Add Asset to Group'
      description: "Add an asset to a group  \nRequires Instance Permission ASSETS:ASSET_GROUPS:EDIT:ASSETS_WITHIN_GROUP\n"
      operationId: addAssetToGroup
      parameters:
        -
          name: assetGroups_id
          in: query
          description: 'The group id'
          required: 'true'
          schema:
            type: integer
        -
          name: assets_id
          in: query
          description: 'The asset id'
          required: 'true'
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'A null array', type: array }
                type: object
  /groups/search.php:
    post:
      tags:
        - groups
      summary: 'Search Groups'
      description: "Search for groups\n"
      operationId: searchGroups
      parameters:
        -
          name: term
          in: query
          description: 'The search term'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'An array of groups', type: array }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'A null array', type: array }
                type: object
  /groups/watch.php:
    post:
      tags:
        - groups
      summary: 'Watch Group'
      description: "Watch a group\n"
      operationId: watchGroup
      parameters:
        -
          name: assetGroups_id
          in: query
          description: 'The group id'
          required: 'true'
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'A null array', type: array }
                type: object
  /groups/new.php:
    post:
      tags:
        - groups
      summary: 'Create Group'
      description: "Create a group  \nRequires Instance Permission ASSETS:ASSET_GROUPS:CREATE\n"
      operationId: createGroup
      parameters:
        -
          name: formData
          in: query
          description: 'The group data'
          required: 'true'
          schema:
            properties:
              personal:
                description: 'Whether the group is personal'
                type: boolean
              assetGroups_name:
                description: 'The group name'
                type: string
              assetGroups_description:
                description: 'The group description'
                type: string
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'A null array', type: array }
                type: object
  /groups/edit.php:
    post:
      tags:
        - groups
      summary: 'Edit Group'
      description: "Edit a group  \nRequires Instance Permission ASSETS:ASSET_GROUPS:EDIT\n"
      operationId: editGroup
      parameters:
        -
          name: formData
          in: query
          description: 'The group data'
          required: 'true'
          schema:
            properties:
              assetGroups_id:
                description: 'The group id'
                type: integer
              personal:
                description: 'Whether the group is personal'
                type: boolean
              assetGroups_name:
                description: 'The group name'
                type: string
              assetGroups_description:
                description: 'The group description'
                type: string
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'A null array', type: array }
                type: object
  /categories/new.php:
    post:
      tags:
        - categories
      summary: 'Create Asset Category Group'
      description: 'Create a new asset category group'
      operationId: createCategoryGroup
      parameters:
        -
          name: formData
          in: query
          description: 'The category group data'
          required: 'true'
          schema:
            properties:
              assetCategoriesGroups_name:
                description: 'The name of the new category group'
                type: string
              assetCategoriesGroups_fontAwesome:
                description: 'The font awesome icon for the category group'
                type: string
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'An Array containing an error code and a message', type: array }
                type: object
  /categories/edit.php:
    post:
      tags:
        - categories
      summary: 'Edit Asset Category Group'
      description: 'Edit an Asset Category Group (Parent)'
      operationId: editCategoryGroup
      parameters:
        -
          name: formData
          in: query
          description: 'The category group data'
          required: 'true'
          schema:
            properties:
              assetCategoriesGroups_id:
                description: 'The ID of the category group'
                type: integer
              assetCategoriesGroups_name:
                description: 'The new name of the category group'
                type: string
              assetCategoriesGroups_fontAwesome:
                description: 'The font awesome icon for the category group'
                type: string
            type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A null Array', type: array }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  error: { description: 'An Array containing an error code and a message', type: array }
                type: object
  /categories/search.php:
    post:
      tags:
        - categories
      summary: 'Search Asset Categories'
      description: 'Search for categories'
      operationId: searchCategories
      parameters:
        -
          name: term
          in: query
          description: 'The search term'
          required: 'true'
          schema:
            type: string
        -
          name: instance_id
          in: query
          description: 'the InstanceID'
          required: 'false'
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                  response: { description: 'A list of categories', type: array }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /login/forgotPassword.php:
    post:
      tags:
        - authentication
      summary: 'Forgot Password'
      description: 'Send a password reset email to the user'
      operationId: forgotPassword
      parameters:
        -
          name: formInput
          in: query
          description: Username
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /login/magicLogin.php:
    post:
      tags:
        - authentication
      summary: 'Send Magic Link'
      description: 'Send Magic Login Link by Email to user'
      operationId: magicLogin
      parameters:
        -
          name: formInput
          in: query
          description: 'Email Address to send link to'
          required: 'true'
          schema:
            type: string
        -
          name: redirect
          in: query
          description: 'Source to redirect to, must be on allowed list in production'
          required: 'false'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleResponse'
  /login/signup.php:
    post:
      tags:
        - authentication
      summary: Signup
      description: 'Create a new user account'
      operationId: signup
      parameters:
        -
          name: name1
          in: query
          description: 'First Name'
          required: 'true'
          schema:
            type: string
        -
          name: name2
          in: query
          description: 'Last Name'
          required: 'true'
          schema:
            type: string
        -
          name: password
          in: query
          description: Password
          required: 'true'
          schema:
            type: string
        -
          name: username
          in: query
          description: Username
          required: 'true'
          schema:
            type: string
        -
          name: email
          in: query
          description: Email
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /login/login.php:
    post:
      tags:
        - authentication
      summary: Login
      description: 'User Login'
      operationId: login
      parameters:
        -
          name: formInput
          in: query
          description: 'Email Address of user'
          required: 'true'
          schema:
            type: string
        -
          name: password
          in: query
          description: 'Password of user'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleResponse'
  /permissions/permissionsEditor.php:
    post:
      tags:
        - permissions
      summary: 'AdamRMS Permission Editor'
      description: "Edit the permissions of an AdamRMS position  \nRequires server permission PERMISSIONS:EDIT\n"
      operationId: permissionEditor
      parameters:
        -
          name: position
          in: query
          description: 'Position id'
          required: 'true'
          schema:
            type: number
        -
          name: removepermission
          in: query
          description: 'Permission id to remove'
          required: undefined
          schema:
            type: number
        -
          name: addpermission
          in: query
          description: 'Permission id to add'
          required: undefined
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/text:
              schema:
                type: number
  /permissions/instancePermissionEditor.php:
    post:
      tags:
        - permissions
      summary: 'Instance Permission Editor'
      description: "Edit the permissions of a position  \nRequires Instance Permission BUSINESS:ROLES_AND_PERMISSIONS:EDIT\n"
      operationId: instancePermissionEditor
      parameters:
        -
          name: position
          in: query
          description: 'Position id'
          required: 'true'
          schema:
            type: number
        -
          name: removepermission
          in: query
          description: 'Permission id to remove'
          required: undefined
          schema:
            type: number
        -
          name: addpermission
          in: query
          description: 'Permission id to add'
          required: undefined
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/text:
              schema:
                type: number
  /permissions/newInstancePermission.php:
    post:
      tags:
        - permissions
      summary: 'New Instance Permission'
      description: "Create a new permission group  \nRequires Instance Permission BUSINESS:ROLES_AND_PERMISSIONS:CREATE\n"
      operationId: newInstancePermission
      parameters:
        -
          name: name
          in: query
          description: 'Permission Group name'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /maintenance/job/changeJobStatus.php:
    post:
      tags:
        - maintenanceJobs
      summary: 'Change Job Status'
      description: "Change the status of a maintenance job  \nRequires Instance Permission MAINTENANCE_JOBS:EDIT:STATUS\n"
      operationId: changeJobStatus
      parameters:
        -
          name: maintenanceJobs_id
          in: query
          description: 'Maintenance Job ID'
          required: 'true'
          schema:
            type: number
        -
          name: maintenanceJobsStatuses_id
          in: query
          description: 'Maintenance Job Status id'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /maintenance/job/sendMessage.php:
    post:
      tags:
        - maintenanceJobs
      summary: 'Send Message'
      description: "Send a message to a maintenance job  \nRequires Instance Permission MAINTENANCE_JOBS:EDIT:ADD_MESSAGE_TO_JOB\n"
      operationId: sendMessage
      parameters:
        -
          name: maintenanceJobs_id
          in: query
          description: 'Maintenance Job ID'
          required: 'true'
          schema:
            type: number
        -
          name: maintenanceJobsMessages_text
          in: query
          description: Message
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /maintenance/job/removeAsset.php:
    post:
      tags:
        - maintenanceJobs
      summary: 'Remove Asset'
      description: "Remove an asset from a maintenance job  \nRequires Instance Permission MAINTENANCE_JOBS:EDIT\n"
      operationId: removeAsset
      parameters:
        -
          name: maintenanceJobs_id
          in: query
          description: 'Maintenance Job ID'
          required: 'true'
          schema:
            type: number
        -
          name: assets_id
          in: query
          description: 'Asset ID'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /maintenance/job/changeName.php:
    post:
      tags:
        - maintenanceJobs
      summary: 'Change Name'
      description: "Change the name of a maintenance job  \nRequires Instance Permission MAINTENANCE_JOBS:EDIT:NAME\n"
      operationId: changeName
      parameters:
        -
          name: maintenanceJobs_id
          in: query
          description: 'Maintenance Job ID'
          required: 'true'
          schema:
            type: number
        -
          name: maintenanceJobs_title
          in: query
          description: 'Maintenance Job Name'
          required: 'true'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /maintenance/job/changeJobAssigned.php:
    post:
      tags:
        - maintenanceJobs
      summary: 'Change Job Assigned'
      description: "Change who a maintenance job is assigned to  \nRequires Instance Permission MAINTENANCE_JOBS:EDIT:USER_ASSIGNED_TO_JOB\n"
      operationId: changeJobAssigned
      parameters:
        -
          name: maintenanceJobs_id
          in: query
          description: 'Maintenance Job ID'
          required: 'true'
          schema:
            type: number
        -
          name: users_userid
          in: query
          description: 'Who the maintenance job is assigned to'
          required: 'true'
          schema:
            type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /maintenance/job/changeFlag.php:
    post:
      tags:
        - maintenanceJobs
      summary: 'Change Flag'
      description: "Change the flag of a maintenance job  \nRequires Instance Permission MAINTENANCE_JOBS:EDIT:ASSET_FLAGS\n"
      operationId: changeFlag
      parameters:
        -
          name: maintenanceJobs_id
          in: query
          description: 'Maintenance Job ID'
          required: 'true'
          schema:
            type: number
        -
          name: maintenanceJobs_flagAssets
          in: query
          description: 'Whether to flag maintenance job'
          required: 'true'
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /maintenance/job/addAsset.php:
    post:
      tags:
        - maintenanceJobs
      summary: 'Add Asset'
      description: "Add an asset to a maintenance job  \nRequires Instance Permission MAINTENANCE_JOBS:EDIT:ADD_ASSETS\n"
      operationId: addAsset
      parameters:
        -
          name: maintenanceJobs_id
          in: query
          description: 'Maintenance Job ID'
          required: 'true'
          schema:
            type: number
        -
          name: maintenanceJobs_assets
          in: query
          description: 'Maintenance Job Assets'
          required: 'true'
          schema:
            type: array
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
        default:
          description: Error
          content:
            application/json:
              schema:
                properties:
                  result: { description: 'Whether the request was successful', type: boolean }
                type: object
  /maintenance/job/tagUser.php:
    post:
      tags:
        - maintenanceJobs
      summary: 'Tag User'
      description: "Tag a user to a maintenance job  \nRequires Instance Permission MAINTENANCE_JOBS:EDIT:USERS_TAGGED_IN_JOB\n"
      operationId: tagUser
      parameters:
        -
          name: maintenanceJobs_id
          in: query
          description: 'Maintenance Job ID'
[...]
