{% extends "assets/template.twig" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Welcome to {{ CONFIG.PROJECT_NAME }}
                </h3>
            </div>
            <div class="card-body">
                <p>AdamRMS is a free, open source advanced Rental Management System for Theatre, AV & Broadcast</p>
                <a href="https://adam-rms.com/" class="btn btn-default" target="_blank">Learn More</a>
                <hr />
                <p>{{ CONFIG.PROJECT_NAME }} has separate areas for separate businesses, and is designed to be used by multiple businesses all with one account (that you're logged into now). To get started, you need to join a business {% if CONFIG["NEW_INSTANCE_ENABLED"] == "Enabled" or "INSTANCES:CREATE"|serverPermissions %}or create one{% endif %}</p>
            </div>
        </div>
        {% include 'assets/templates/joinInstance.twig' %}
    </div>
    {% if CONFIG["NEW_INSTANCE_ENABLED"] == "Enabled" or "INSTANCES:CREATE"|serverPermissions %}
    <div class="col-lg-4 col-md-6 col-sm-12">      
        {% include 'assets/templates/newInstance.twig' %}
    </div>
    {% endif %}
</div>
{% endblock %}
