{% extends "assets/template.twig" %}

{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12" style="padding: 5px;">
        <div class="card px-2">
            <div class="card-header row">
                <h4 class="card-title my-auto">Import Assets</h4>
                <a class="btn btn-info btn-sm ml-auto" href="/public/templates/asset-import-template.csv">Download a template</a>
            </div>
            <div class="card-body">
                <p>Assets can be imported by uploading a CSV file. The CSV should be comma-delimited and with the headers found in the adamRMS documentation</p>
                <hr />
                <form class="form">
                    <div class="form-group">
                        <label for="instance-id">Instance</label>
                        <select class="form-control" required>
                            <option disabled selected>Select an Instance</option>
                            {% for instance in instances %}
                            <option value="{{ instance.instances_id }}">{{ instance.instances_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="csvFile">CSV File</label>
                        <input type="file" class="form-control-file" id="csvFile" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Import</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}