{% extends 'templatePublic.twig' %}
{% block header %}{% endblock %}
{% block main %}
    <div class="row h-100">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 bg-light p-3 border-left pb-1 order-lg-12 order-xl-12 border flex-grow-1">
            {% embed 'assets/searchForm.twig' with {'instance': INSTANCE.instances_id, 'instancePublicData': INSTANCE.publicData, 'CONFIG':CONFIG, 'PUBLIC': true } %}
            {% endembed %}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 order-lg-1 order-xl-1" style="height:inherit">
            <div id="pageContent" class="m-2"></div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $( "#deepSearchAssetForm" ).submit();
        });
    </script>
{% endblock %}