{% extends 'templatePublic.twig' %}
{% block main %}
    <h2>{{ PAGE.cmsPages_name }}</h2>
    <div id="cmsPageContent">
        {% embed 'cmsPage.twig' with {'pageData': PAGE } only %}
        {% endembed %}
    </div>
    <style>
        #cmsPageContent h3 {
            margin:0;
        }
        #cmsPageContent .cell {
            padding:15px;
        }
    </style>
{% endblock %}