<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-12" style="padding: 5px;">
      <div class="card card-default">
          <div class="card-body" style="text-align: center;">
              <h2>You need to change your Password</h2>
                  <p>Please enter a new password:</p>
                  <input type="password" id="forcechangepass1" class="form-control input-lg"
                          placeholder="New Password" style="margin-bottom: 5px;" />
                  <input type="password" id="forcechangepass2" class="form-control input-lg"
                          placeholder="Confirm New Password"  style="margin-bottom: 5px;" />
                  <p>Choose a strong password longer than 8 characters that is a random alphanumeric string</p>
                  <button id="forcechangepassbutton" class="btn btn-default">Save</button>

          </div>
          <div class="card-footer">
<a href="{{ CONFIG.LINKS_SUPPORTURL }}">Contact Support</a>

          </div>
          <script>
              $(document).ready(function () {
                  $('#forcechangepassbutton').click(function () {
                      if ($("#forcechangepass1").val() != $("#forcechangepass2").val()) bootbox.alert("Sorry - Your passwords do not match!");
                      else if ($("#forcechangepass1").val().length < 6) bootbox.alert("Sorry - Your password is too short!");
                      else {
                          $.ajax({
                              url: '{{ CONFIG.ROOTURL }}/api/account/forcePasswordChange.php?pass=' + $("#forcechangepass1").val(),
                              success: function (result) {
                                  if (result == '1') {
                                      location.reload();
                                  } else {
                                      bootbox.alert('Error - Could not send E-Mail again - Please refresh the page and try again!');
                                  }
                              }
                          });
                      }
                  });
              });
          </script>
      </div>
  </div>
</div>