name: Build AdamRMS
on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Docker github meta
        id: docker_github_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: ghcr.io/${{ github.repository }}/main
          tag-sha: false
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}
      - name: Docker hub meta
        id: docker_dockerhub_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: bithellstudios/adam-rms
          tag-sha: false
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          file: ./Dockerfile
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_dockerhub_meta.outputs.tags }}
          labels: ${{ steps.docker_dockerhub_meta.outputs.labels }}
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_github_meta.outputs.tags }}
          labels: ${{ steps.docker_github_meta.outputs.labels }}