name: PHP Lint
on: 
  pull_request:
    branches:
      - main
jobs:
  phplint:
    name: PHP Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: overtrue/phplint@9.0
        with:
          path: html/