name: PHP Lint
on: 
  pull_request:
    branches:
      - main
jobs:
  phplint:
    name: PHP Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: overtrue/phplint@7.4
        with:
          path: html/