{% extends "assets/template.twig" %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">Logo</h3>
            </div>
            <div class="card-body">
                {% if USERDATA.instance.instances_logo != null %}
                    <img loading="lazy" src="{{ USERDATA.instance.instances_logo|s3URL("medium") }}" style="width: 100%;">
                {% else %}
                    <i>None currently set</i>
                {% endif %}
            </div>
            {% if "BUSINESS:BUSINESS_SETTINGS:EDIT"|instancePermissions %}
            <div class="card-footer">
                <b>Logos are publicly accessible</b>
                {% embed 'common/plugins/uppy.twig' with {'publicBool': true, 'type': 'INSTANCE-THUMBNAIL', 'paste': false, 'typeId': 5, 'subTypeId': USERDATA.instance.instances_id, 'fileLimit': 1, 'imagesOnly': true } %}
                    {% block success %}
                        ajaxcall("instances/editInstance.php", {
                            'formData': [{ 'name': 'instances_logo','value':responseJson.id }]
                        }, function (data) {
                            location.reload();
                        });
                    {% endblock %}
                {% endembed %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">Email Header</h3>
            </div>
            <div class="card-body">
                {% if USERDATA.instance.instances_emailHeader != null %}
                    <img loading="lazy" src="{{ USERDATA.instance.instances_emailHeader|s3URL("medium") }}" style="width: 100%;">
                {% else %}
                    <i>None currently set</i>
                {% endif %}
            </div>
            {% if "BUSINESS:BUSINESS_SETTINGS:EDIT"|instancePermissions %}
            <div class="card-footer">
                <b>Email Headers are publicly accessible</b>
                {% embed 'common/plugins/uppy.twig' with {'publicBool': true, 'type': 'INSTANCE-EMAILHEADER', 'paste': false, 'typeId': 10, 'subTypeId': USERDATA.instance.instances_id, 'fileLimit': 1, 'imagesOnly': true } %}
                    {% block success %}
                        ajaxcall("instances/editInstance.php", {
                        'formData': [{ 'name': 'instances_emailHeader','value':responseJson.id }]
                        }, function (data) {
                        location.reload();
                        });
                    {% endblock %}
                {% endembed %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}